.feature-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 15px;
}
.feature-list {
  flex-basis: 50%;
  padding: 15px;
}
.feature-list .icon {
  margin-bottom: 7px;
  font-size: 50px;
}
.feature-list .content .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
}
.feature-list .content p {
  margin-bottom: 0;
}
.edu-feature-area .feature-thumbnail {
  position: relative;
  right: -60px;
  z-index: 2;
}
.video-popup-wraper {
  position: relative;
}
.edu-feature-area .feature-thumbnail .main-image img {
  mask-image: url(../../../assets/images/index.png);
  mask-position: center center;
  mask-size: contain;
  mask-repeat: no-repeat;
  width: 100%;
}
.video-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: inline-block;
  transition: all 1s cubic-bezier(0, 0, 0.2, 1);
}
.video-play-btn::before,
.video-play-btn::after {
  border: 1.2px solid #fff;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s;
}
.video-play-btn::before {
  animation: ripple 2s linear infinite;
}
.video-play-btn::after {
  animation: ripple 3s linear infinite;
}
@keyframes ripple {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(2.1);
    opacity: 1;
  }
  100% {
    transform: scale(2.3);
    opacity: 0;
  }
}
.feature-thumbnail .circle-image {
  width: 97%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: -11px;
  right: 7px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.feature-thumbnail .circle-image span {
  height: 100%;
  border: 2px solid #f86f03;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  animation: eduvibe-rotate-animate 13s linear infinite;
}
.feature-thumbnail .circle-image span:first-child {
  border-radius: 38% 62% 64% 36%/43% 35% 65% 57%;
}
.feature-thumbnail .circle-image span:nth-child(2) {
  border-radius: 41% 59% 40% 60%/65% 66% 34% 35%;
  animation-direction: reverse;
}
@keyframes eduvibe-rotate-animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
