.slick-arrow {
  display: none !important;
}
.testimonials {
  position: relative;
  background-color: var(--banner-bg);
  z-index: 2;
}
.setisfied-learner {
  padding-right: 70px;
  position: relative;
}
.setisfied-learner .thumbnail img {
  width: 100%;
  border-radius: 6px;
}
.trophy-content {
  position: absolute;
  top: 97px;
  left: -164px;
  width: 235px;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  padding: 20px 25px;
  background-color: var(--bg-color);
  border-radius: 5px;
  animation: bounceSlide 4s infinite both;
}
@keyframes bounceSlide {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.trophy-content .icon {
  min-height: 49px;
  line-height: 49px;
  object-fit: contain;
  margin-right: 20px;
}
.trophy-content .content .text {
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 0;
}
.trophy-content .content span {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.single-testimonials .inner .qoute-sign {
  margin-bottom: 50px;
  display: inline-block;
}
.single-testimonials .inner .description {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 50px;
  color: #6f6b80;
}
.single-testimonials .inner .client-info {
  display: flex;
  align-items: center;
}
.single-testimonials .inner .client-info .thumb {
  max-width: 80px;
  margin-right: 20px;
}
.single-testimonials .inner .client-info .info .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 36px;
  color: var(--text-clr);
}
.single-testimonials .inner .client-info .info .degignation {
  font-weight: 600;
  line-height: 26px;
  color: var(--main-btn-clr);
}
 .slick-slider .slick-dots li button::before {
  font-size: 13px !important;

  color: rgba(82, 95, 225) !important;
}
 .slick-slider .slick-dots li.slick-active::before {
  border: 2px solid #525fe1;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  display: flex;
}
 .slick-slider .slick-dots {
  bottom: -87px;
  text-align: left;
}
.testimonials .shape-wrapper .shap-image {
  position: absolute;
  z-index: -1;
}
.testimonials .shape-wrapper .shape-image-1 {
  left: 4px;
  top: 139px;
}
.testimonials .shape-wrapper .shape-image-2 {
  right: -3px;
  top: 139px;
}
.testimonials .shape-wrapper .shape-image-3 {
  right: -3px;
  bottom: 0px;
}
.testimonials .shape-wrapper .shape-image-4 {
  left: 68px;
  bottom: 76px;
}
