.contact-form input,
.contact-form textarea {
  width: 100%;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: none;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  line-height: 26px;
  outline: none;
  padding: 0 30px;
  transition: 0.4s;
  margin-bottom: 20px;
}
.contact-form textarea {
  min-height: 180px;
  resize: none;
  padding: 17px 30px;
}
.contact-btn {
  font-size: 18px;
  font-weight: 700;
  height: 60px;
  padding: 0 30px;
  display: inline-block;
  line-height: 60px;
  transition: 0.4s;
  background-color: var(--main-btn-clr);
  color: #fff !important;
  border-radius: 5px;
  border: 1px solid transparent;
}
.contact-left {
  padding-right: 75px;
}
.contact-left .thumbnail {
  position: relative;
}

.contact-left .thumbnail .content-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 50px 20px;
  text-align: center;
}
.contact-left .thumbnail .content-overlay .title {
  font-size: 34px;
  line-height: 44px;
  margin-bottom: 0;
}
.contact-left .thumbnail::before {
  background: linear-gradient(1turn, #2d284e, rgba(45, 40, 78, 0) 70.5%);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
