@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark-theme {
  --bg-color: #fff;
  --text-clr: black;
  --color-shade: #f5f5f5;
  --card-bg-hover: #bdbdbd;
  --border-color: #eee;
  --heading-clr: #231f40;

  --maintext-clr: #cdccd5;

  --main-btn-clr: #525fe1;
  --pre-tittle-clr: #525fe1;
  --main-btn-hover-clr: #fff;
  --title-color: #333;
  --main-btn-hover-bg-clr: #231f40;
  --small-btn-clr: #f86f03;
  --icon-color: #f86f03;
  --banner-bg: #ffeee0;
  --menuImg: url(./assets//images/menu.png);
  --bg-secondary: #525fe1;
}

.light-theme {
  --bg-color: black;
  --text-clr: #fff;
  --color-shade: #f5f5f5;
  --heading-clr: #c3c1cf;
  --card-bg-hover: #242323;
  --main-btn-clr: #525fe1;
  --title-color: #ddd;
  --maintext-clr: #231f40;

  --pre-tittle-clr: #525fe1;
  --main-btn-hover-bg-clr: #231f40;
  --icon-color: #f86f03;
  --main-btn-hover-clr: #fff;
  --banner-bg: #3c3734;
  --bg-secondary: #525fe1;
  --small-btn-clr: #f86f03;
  --menuImg: url(./assets//images/menuwhite.png);
}

body {
  font-family: "Urbanist", sans-serif !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-clr);
}
ul {
  padding: 0 !important;
}
li {
  list-style: none;
}
.light-theme {
  background-color: var(--bg-color);
  color: var(--text-clr);
}
.nav-link {
  color: var(--text-clr) !important;
}
.navbar-brand {
  color: var(--text-clr) !important;
}

a {
  color: var(--text-clr) !important;
  text-decoration: none !important;
}
a:hover {
  color: var(--text-clr) !important;
}
.header {
  /* background-image: url(./assets/images/home-one-banner-3885e64011ecb9920f13.jpg); */
  background-color: var(--banner-bg);
}
section {
  padding: 130px 0;
}

.radius-small {
  border-radius: 5px;
}
::after,
::before {
  content: "";
  position: absolute;
}
